[Unit]
Description=DDNSS-IP-Updater
After=syslog.target network.target
[Service]
Type=simple
ExecStart=python /usr/share/ddnss-ip-updater/main.py
Restart=on-abort
[Install]
WantedBy=multi-user.target