[Unit]
Description=Updater for the dynamic ip dns pointing to the server
After=syslog.target network.target
[Service]
Type=simple
ExecStart=python /usr/share/ddnss-ip-updater/main.py
Restart=always
[Install]
WantedBy=multi-user.target